*{
    margin: 0;
    padding: 0;
    border-bottom: 0;
}

body{
    background-color: #000;
}

button{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -100px;

    

    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%);
    padding: 20px;
    color: #fff;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #555; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;


}

button:hover{
    color: #dc2743;
    background: purple;
    transform: scale(1.5);  
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.9);
}